header {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--brand);
  height: 10vh;
  font-size: 25px;
}

header h1 {
  display: inline-flex;
  height: 100%;
  align-items: center;
  margin: 0px 10px;
  font-size: 25px;
  background: linear-gradient(to right, #ffe2ed, #d5dbff, #d5fdd8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#palette-icon {
  display: inline-block;
  height: 1.3em;
}

.about-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
  color: white;
}

.about-container .info {
  display: none;
  position: absolute;
  top: 100%;
  left: -20px;
  width: 300px;
  background-color: var(--brand);
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 1rem;
  overflow-wrap: normal;
  z-index: 100;
}

.about-container:hover .info {
  display: block;
}

.info a {
  padding: 5px;
  border-radius: 3px;
  background-color: white;
  color: var(--brand);
  font-size: 0.8em;
}

.info a:hover {
  background-color: rgb(221, 221, 221);
}

header i {
  margin-right: 15px;
  color: white;
  font-size: 1.2rem;
  z-index: 90;
}
