/* First reset defaults */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default styles for links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* set all transitions similarly*/
* {
  transition: all 200ms ease;
}

/* custom css properties */
:root {
  --brand: rgb(0, 0, 77);
}

/* Apply my/NEW styles */
body {
  background-color: black;
}

main {
  display: flex;
}

.tool-bar {
  background-color: lightblue;
  width: 50px;
}

.board {
  flex: 1;
}
