.tool-bar {
  background-color: rgb(226, 226, 226);
  height: 90vh;
  width: 50px;
  display: flex;
  flex-direction: column;
  cursor: grab;
}

.tool-bar i {
  font-size: 1.2em;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

.tool-bar i:hover,
.tool-bar i.active {
  background-color: rgba(0 0 0 /0.2);
}

.left-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar .eraser {
  font-size: 18px;
}

.tool-container {
  position: relative;
  /* padding */
}

.tool-tip {
  display: none;
  position: absolute;
  top: 5px;
  right: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--background-gray);
  box-shadow: 0px 2px 10px var(--shadow-gray);
}

.tool-container:hover .tool-tip {
  display: block;
}
